name: Build APK

on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v4
      with:
        python-version: '3.9'
    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install -y python3-pip git zip unzip openjdk-11-jdk
        pip install buildozer
    - name: Build APK
      run: buildozer android debug
      timeout-minutes: 120
    - name: Upload APK
      uses: actions/upload-artifact@v1
      with:
        name: app-apk
        path: bin/*.apk
